main{
    padding: 40px;
    padding-left: 80px;
}

.app-features{
    width: 100%;
}

.app-features h2{
    float: left;
    font-size: 40px;
}

.s-hr{
    height: 4px;
    border-radius: 100pt;
    width: 120px;
    position: relative;
    top: 24px;
    margin-left: 300px;
    background: #3c3c3c;
}

.s-hr-2{
    height: 4px;
    border-radius: 100pt;
    width: 120px;
    position: relative;
    top: 24px;
    margin-left: 350px;
    background: #3c3c3c;
}

.main-screen{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.main-screen-set-2{
    margin-top: 300px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.main-screen p{
    line-height: 36px;
    color: #444444;
    margin-bottom: 40px;
}
.main-screen h2{
    margin-bottom: 50px;
}
.main-screen a{
    text-decoration: none;
    color: #88D498;
}
.screen-01, .screen-02, .screen-03{
    font-size: 60px;
    margin-bottom: 30px;
    position: relative;
    font-weight: 900;
    color: #00000022;
}

.image-01{
    width: 50%;
    position: absolute;
    transform: scale(1.1);
    left: -10px;
    float: left;
    height: 100%;
    overflow: hidden;
    background-image: url('./../images/01.jpg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.content-01{
    width: 45%;
    position: relative;
    margin-top: 10%;
    float: right;
    height: 100%;
}

.image-02{
    width: 50%;
    float: right;
    position: relative;
    transform: scale(1.1);
    right: 20px;
    height: 100%;
    overflow: hidden;
    background-image: url('./../images/01.jpg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.content-02{
    width: 45%;
    position: relative;
    text-align: right;
    margin-top: 10%;
    float: left;
    height: 100%;
}

.image-03{
    width: 50%;
    position: absolute;
    transform: scale(1.1);
    left: -10px;
    float: left;
    height: 100%;
    overflow: hidden;
    background-image: url('./../images/01.jpg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.content-03{
    width: 45%;
    position: relative;
    margin-top: 10%;
    float: right;
    height: 100%;
}

.strip{
    color: #ffffff;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    margin-left: -80px;
    background-color: #3C3C3C;
    overflow: hidden;
    height: 200px;
}

.prop-container{
    text-align: center;
    width: 25%;
    float: left;
    height: 100%;
}

.prop-container a{
    text-decoration: none;
    color: #3c3c3c;
    background: #88D498;
    text-align: center;
    position: relative;
    padding: 25px;
    top: 42.5%;
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 5px 5px 20px #00000055;
    border-radius: 40pt;
}

.val, .val-of{
    text-align: center;
}

.val-of{
    font-size: 14px;
}

.val{
    margin-top: 60px;
    margin-bottom: 10px;
    font-size: 30px;
}

.icon-b{
    position: relative;
    top:35px;
    align-content: center; 
    height: 50px;
    width: 50px;
}

.feedback-strip{
    margin-top: 80px;
    width: 100%;
}

.feedback-container{
    background: url('./../images/quote.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position-x: 20px;
    background-position-y: 30px;
    font-size: 20px;
    overflow: hidden;
    border-radius: 5pt;
    box-sizing: border-box;
    box-shadow: 7px 7px 20px #00000021;
    float: left;
    width: 20%;
    margin: 2%;
    height: 300px;
    padding-top: 75px;
    padding-left: 40px;
    padding-right: 40px;
}

.user-profile img{
    height: 40px;
    width: 40px;
    float: left;
    border-radius: 100pt;
    margin-top: 40px;
}

.user-profile .username{
    margin-top: 45px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 16px;
    float: left;
}

.user-profile .category{
    font-size: 12px;
    font-weight: 300;
    float: left;
    margin-top: 0px;
}
