*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: inter;
    src: url(./../font/Inter-Regular.ttf);
}

body{
    font-family: inter;
    color: #3c3c3c;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar {width: 0 !important}